[package]
name = "rust-grid"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2"
js-sys = "0.3"

[profile.release]
panic = "abort"
lto = "fat"
codegen-units = 1
opt-level = 3
